<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luxury.mapper.PayOrderInfoMapper">
  <resultMap id="BaseResultMap" type="com.luxury.model.PayOrderInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="enterprise_id" jdbcType="VARCHAR" property="enterpriseId" />
    <result column="order_status" jdbcType="INTEGER" property="orderStatus" />
    <result column="trade_no" jdbcType="VARCHAR" property="tradeNo" />
    <result column="order_money" jdbcType="INTEGER" property="orderMoney" />
    <result column="refund_money" jdbcType="INTEGER" property="refundMoney" />
    <result column="order_date" jdbcType="VARCHAR" property="orderDate" />
    <result column="refund_date" jdbcType="VARCHAR" property="refundDate" />
    <result column="order_source" jdbcType="INTEGER" property="orderSource" />
    <result column="order_pay_type" jdbcType="INTEGER" property="orderPayType" />
    <result column="order_desc" jdbcType="VARCHAR" property="orderDesc" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_no, user_id, enterprise_id, order_status, trade_no, order_money, refund_money, 
    order_date, refund_date, order_source, order_pay_type, order_desc
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pay_order_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pay_order_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.luxury.model.PayOrderInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pay_order_info (order_no, user_id, enterprise_id, 
      order_status, trade_no, order_money, 
      refund_money, order_date, refund_date, 
      order_source, order_pay_type, order_desc
      )
    values (#{orderNo,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{enterpriseId,jdbcType=VARCHAR}, 
      #{orderStatus,jdbcType=INTEGER}, #{tradeNo,jdbcType=VARCHAR}, #{orderMoney,jdbcType=INTEGER}, 
      #{refundMoney,jdbcType=INTEGER}, #{orderDate,jdbcType=VARCHAR}, #{refundDate,jdbcType=VARCHAR}, 
      #{orderSource,jdbcType=INTEGER}, #{orderPayType,jdbcType=INTEGER}, #{orderDesc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.luxury.model.PayOrderInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pay_order_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
      <if test="tradeNo != null">
        trade_no,
      </if>
      <if test="orderMoney != null">
        order_money,
      </if>
      <if test="refundMoney != null">
        refund_money,
      </if>
      <if test="orderDate != null">
        order_date,
      </if>
      <if test="refundDate != null">
        refund_date,
      </if>
      <if test="orderSource != null">
        order_source,
      </if>
      <if test="orderPayType != null">
        order_pay_type,
      </if>
      <if test="orderDesc != null">
        order_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="tradeNo != null">
        #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="orderMoney != null">
        #{orderMoney,jdbcType=INTEGER},
      </if>
      <if test="refundMoney != null">
        #{refundMoney,jdbcType=INTEGER},
      </if>
      <if test="orderDate != null">
        #{orderDate,jdbcType=VARCHAR},
      </if>
      <if test="refundDate != null">
        #{refundDate,jdbcType=VARCHAR},
      </if>
      <if test="orderSource != null">
        #{orderSource,jdbcType=INTEGER},
      </if>
      <if test="orderPayType != null">
        #{orderPayType,jdbcType=INTEGER},
      </if>
      <if test="orderDesc != null">
        #{orderDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.luxury.model.PayOrderInfo">
    update pay_order_info
    <set>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null">
        order_status = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="tradeNo != null">
        trade_no = #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="orderMoney != null">
        order_money = #{orderMoney,jdbcType=INTEGER},
      </if>
      <if test="refundMoney != null">
        refund_money = #{refundMoney,jdbcType=INTEGER},
      </if>
      <if test="orderDate != null">
        order_date = #{orderDate,jdbcType=VARCHAR},
      </if>
      <if test="refundDate != null">
        refund_date = #{refundDate,jdbcType=VARCHAR},
      </if>
      <if test="orderSource != null">
        order_source = #{orderSource,jdbcType=INTEGER},
      </if>
      <if test="orderPayType != null">
        order_pay_type = #{orderPayType,jdbcType=INTEGER},
      </if>
      <if test="orderDesc != null">
        order_desc = #{orderDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luxury.model.PayOrderInfo">
    update pay_order_info
    set order_no = #{orderNo,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      order_status = #{orderStatus,jdbcType=INTEGER},
      trade_no = #{tradeNo,jdbcType=VARCHAR},
      order_money = #{orderMoney,jdbcType=INTEGER},
      refund_money = #{refundMoney,jdbcType=INTEGER},
      order_date = #{orderDate,jdbcType=VARCHAR},
      refund_date = #{refundDate,jdbcType=VARCHAR},
      order_source = #{orderSource,jdbcType=INTEGER},
      order_pay_type = #{orderPayType,jdbcType=INTEGER},
      order_desc = #{orderDesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.luxury.model.PayOrderInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="doctor_id" jdbcType="VARCHAR" property="doctorId" />
    <result column="doctor_name" jdbcType="VARCHAR" property="doctorName" />
    <result column="pay_channels" jdbcType="INTEGER" property="payChannels" />
    <result column="deal_state" jdbcType="INTEGER" property="dealState" />
    <result column="dea_money" jdbcType="DOUBLE" property="deaMoney" />
    <result column="service_type" jdbcType="INTEGER" property="serviceType" />
    <result column="handle_state" jdbcType="INTEGER" property="handleState" />
    <result column="income_money" jdbcType="DOUBLE" property="incomeMoney" />
    <result column="refund_money" jdbcType="DOUBLE" property="refundMoney" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="pay_order_no" jdbcType="VARCHAR" property="payOrderNo" />
    <result column="order_start_time" jdbcType="TIMESTAMP" property="orderStartTime" />
    <result column="order_pay_time" jdbcType="TIMESTAMP" property="orderPayTime" />
    <result column="refund_time" jdbcType="TIMESTAMP" property="refundTime" />
    <result column="refund_end_time" jdbcType="TIMESTAMP" property="refundEndTime" />
    <result column="appeal_time" jdbcType="TIMESTAMP" property="appealTime" />
    <result column="appeal_end_time" jdbcType="TIMESTAMP" property="appealEndTime" />
    <result column="order_end_time" jdbcType="TIMESTAMP" property="orderEndTime" />
    <result column="order_type" jdbcType="INTEGER" property="orderType" />
    <result column="doctor_type" jdbcType="INTEGER" property="doctorType" />
    <result column="is_autonomy" jdbcType="INTEGER" property="isAutonomy" />
    <result column="pay_config_id" jdbcType="INTEGER" property="payConfigId" />
    <result column="is_old" jdbcType="INTEGER" property="isOld" />
    <result column="notify_url" jdbcType="VARCHAR" property="notifyUrl" />
    <result column="result_url" jdbcType="VARCHAR" property="resultUrl" />
    <result column="ios_url" jdbcType="VARCHAR" property="iosUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, user_name, doctor_id, doctor_name, pay_channels, deal_state, dea_money, 
    service_type, handle_state, income_money, refund_money, order_no, pay_order_no, order_start_time, 
    order_pay_time, refund_time, refund_end_time, appeal_time, appeal_end_time, order_end_time, 
    order_type, doctor_type, is_autonomy, pay_config_id, is_old, notify_url, result_url, 
    ios_url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pay_order_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pay_order_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.luxury.model.PayOrderInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pay_order_info (user_id, user_name, doctor_id, 
      doctor_name, pay_channels, deal_state, 
      dea_money, service_type, handle_state, 
      income_money, refund_money, order_no, 
      pay_order_no, order_start_time, order_pay_time, 
      refund_time, refund_end_time, appeal_time, 
      appeal_end_time, order_end_time, order_type, 
      doctor_type, is_autonomy, pay_config_id, 
      is_old, notify_url, result_url, 
      ios_url)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{doctorId,jdbcType=VARCHAR}, 
      #{doctorName,jdbcType=VARCHAR}, #{payChannels,jdbcType=INTEGER}, #{dealState,jdbcType=INTEGER}, 
      #{deaMoney,jdbcType=DOUBLE}, #{serviceType,jdbcType=INTEGER}, #{handleState,jdbcType=INTEGER}, 
      #{incomeMoney,jdbcType=DOUBLE}, #{refundMoney,jdbcType=DOUBLE}, #{orderNo,jdbcType=VARCHAR}, 
      #{payOrderNo,jdbcType=VARCHAR}, #{orderStartTime,jdbcType=TIMESTAMP}, #{orderPayTime,jdbcType=TIMESTAMP}, 
      #{refundTime,jdbcType=TIMESTAMP}, #{refundEndTime,jdbcType=TIMESTAMP}, #{appealTime,jdbcType=TIMESTAMP}, 
      #{appealEndTime,jdbcType=TIMESTAMP}, #{orderEndTime,jdbcType=TIMESTAMP}, #{orderType,jdbcType=INTEGER}, 
      #{doctorType,jdbcType=INTEGER}, #{isAutonomy,jdbcType=INTEGER}, #{payConfigId,jdbcType=INTEGER}, 
      #{isOld,jdbcType=INTEGER}, #{notifyUrl,jdbcType=VARCHAR}, #{resultUrl,jdbcType=VARCHAR}, 
      #{iosUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.luxury.model.PayOrderInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pay_order_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="doctorId != null">
        doctor_id,
      </if>
      <if test="doctorName != null">
        doctor_name,
      </if>
      <if test="payChannels != null">
        pay_channels,
      </if>
      <if test="dealState != null">
        deal_state,
      </if>
      <if test="deaMoney != null">
        dea_money,
      </if>
      <if test="serviceType != null">
        service_type,
      </if>
      <if test="handleState != null">
        handle_state,
      </if>
      <if test="incomeMoney != null">
        income_money,
      </if>
      <if test="refundMoney != null">
        refund_money,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="payOrderNo != null">
        pay_order_no,
      </if>
      <if test="orderStartTime != null">
        order_start_time,
      </if>
      <if test="orderPayTime != null">
        order_pay_time,
      </if>
      <if test="refundTime != null">
        refund_time,
      </if>
      <if test="refundEndTime != null">
        refund_end_time,
      </if>
      <if test="appealTime != null">
        appeal_time,
      </if>
      <if test="appealEndTime != null">
        appeal_end_time,
      </if>
      <if test="orderEndTime != null">
        order_end_time,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="doctorType != null">
        doctor_type,
      </if>
      <if test="isAutonomy != null">
        is_autonomy,
      </if>
      <if test="payConfigId != null">
        pay_config_id,
      </if>
      <if test="isOld != null">
        is_old,
      </if>
      <if test="notifyUrl != null">
        notify_url,
      </if>
      <if test="resultUrl != null">
        result_url,
      </if>
      <if test="iosUrl != null">
        ios_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="doctorId != null">
        #{doctorId,jdbcType=VARCHAR},
      </if>
      <if test="doctorName != null">
        #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="payChannels != null">
        #{payChannels,jdbcType=INTEGER},
      </if>
      <if test="dealState != null">
        #{dealState,jdbcType=INTEGER},
      </if>
      <if test="deaMoney != null">
        #{deaMoney,jdbcType=DOUBLE},
      </if>
      <if test="serviceType != null">
        #{serviceType,jdbcType=INTEGER},
      </if>
      <if test="handleState != null">
        #{handleState,jdbcType=INTEGER},
      </if>
      <if test="incomeMoney != null">
        #{incomeMoney,jdbcType=DOUBLE},
      </if>
      <if test="refundMoney != null">
        #{refundMoney,jdbcType=DOUBLE},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="payOrderNo != null">
        #{payOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderStartTime != null">
        #{orderStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderPayTime != null">
        #{orderPayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundTime != null">
        #{refundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundEndTime != null">
        #{refundEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appealTime != null">
        #{appealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appealEndTime != null">
        #{appealEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderEndTime != null">
        #{orderEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=INTEGER},
      </if>
      <if test="doctorType != null">
        #{doctorType,jdbcType=INTEGER},
      </if>
      <if test="isAutonomy != null">
        #{isAutonomy,jdbcType=INTEGER},
      </if>
      <if test="payConfigId != null">
        #{payConfigId,jdbcType=INTEGER},
      </if>
      <if test="isOld != null">
        #{isOld,jdbcType=INTEGER},
      </if>
      <if test="notifyUrl != null">
        #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="resultUrl != null">
        #{resultUrl,jdbcType=VARCHAR},
      </if>
      <if test="iosUrl != null">
        #{iosUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.luxury.model.PayOrderInfo">
    update pay_order_info
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="doctorId != null">
        doctor_id = #{doctorId,jdbcType=VARCHAR},
      </if>
      <if test="doctorName != null">
        doctor_name = #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="payChannels != null">
        pay_channels = #{payChannels,jdbcType=INTEGER},
      </if>
      <if test="dealState != null">
        deal_state = #{dealState,jdbcType=INTEGER},
      </if>
      <if test="deaMoney != null">
        dea_money = #{deaMoney,jdbcType=DOUBLE},
      </if>
      <if test="serviceType != null">
        service_type = #{serviceType,jdbcType=INTEGER},
      </if>
      <if test="handleState != null">
        handle_state = #{handleState,jdbcType=INTEGER},
      </if>
      <if test="incomeMoney != null">
        income_money = #{incomeMoney,jdbcType=DOUBLE},
      </if>
      <if test="refundMoney != null">
        refund_money = #{refundMoney,jdbcType=DOUBLE},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="payOrderNo != null">
        pay_order_no = #{payOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderStartTime != null">
        order_start_time = #{orderStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderPayTime != null">
        order_pay_time = #{orderPayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundTime != null">
        refund_time = #{refundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundEndTime != null">
        refund_end_time = #{refundEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appealTime != null">
        appeal_time = #{appealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appealEndTime != null">
        appeal_end_time = #{appealEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderEndTime != null">
        order_end_time = #{orderEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=INTEGER},
      </if>
      <if test="doctorType != null">
        doctor_type = #{doctorType,jdbcType=INTEGER},
      </if>
      <if test="isAutonomy != null">
        is_autonomy = #{isAutonomy,jdbcType=INTEGER},
      </if>
      <if test="payConfigId != null">
        pay_config_id = #{payConfigId,jdbcType=INTEGER},
      </if>
      <if test="isOld != null">
        is_old = #{isOld,jdbcType=INTEGER},
      </if>
      <if test="notifyUrl != null">
        notify_url = #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="resultUrl != null">
        result_url = #{resultUrl,jdbcType=VARCHAR},
      </if>
      <if test="iosUrl != null">
        ios_url = #{iosUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luxury.model.PayOrderInfo">
    update pay_order_info
    set user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      doctor_id = #{doctorId,jdbcType=VARCHAR},
      doctor_name = #{doctorName,jdbcType=VARCHAR},
      pay_channels = #{payChannels,jdbcType=INTEGER},
      deal_state = #{dealState,jdbcType=INTEGER},
      dea_money = #{deaMoney,jdbcType=DOUBLE},
      service_type = #{serviceType,jdbcType=INTEGER},
      handle_state = #{handleState,jdbcType=INTEGER},
      income_money = #{incomeMoney,jdbcType=DOUBLE},
      refund_money = #{refundMoney,jdbcType=DOUBLE},
      order_no = #{orderNo,jdbcType=VARCHAR},
      pay_order_no = #{payOrderNo,jdbcType=VARCHAR},
      order_start_time = #{orderStartTime,jdbcType=TIMESTAMP},
      order_pay_time = #{orderPayTime,jdbcType=TIMESTAMP},
      refund_time = #{refundTime,jdbcType=TIMESTAMP},
      refund_end_time = #{refundEndTime,jdbcType=TIMESTAMP},
      appeal_time = #{appealTime,jdbcType=TIMESTAMP},
      appeal_end_time = #{appealEndTime,jdbcType=TIMESTAMP},
      order_end_time = #{orderEndTime,jdbcType=TIMESTAMP},
      order_type = #{orderType,jdbcType=INTEGER},
      doctor_type = #{doctorType,jdbcType=INTEGER},
      is_autonomy = #{isAutonomy,jdbcType=INTEGER},
      pay_config_id = #{payConfigId,jdbcType=INTEGER},
      is_old = #{isOld,jdbcType=INTEGER},
      notify_url = #{notifyUrl,jdbcType=VARCHAR},
      result_url = #{resultUrl,jdbcType=VARCHAR},
      ios_url = #{iosUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>